<div class="header-bar">
  <i class="fa fa-plus-circle js-image-create"></i>
</div>
<form action="" class="create-form">
  <input type="text" name="url" class="input-url" placeholder="Image URL">

  <textarea name="caption" rows="3" cols="40" class="input-caption" placeholder="Image Caption"></textarea>

  <div class="create-nav">
    <button class="create-nav-cancel js-create-cancel">Cancel</button>
    <button class="create-nav-add js-create"><i class="fa fa-picture-o"></i>Add Image</button>
  </div>
</form>
