<i class="fa fa-times"></i>
<div class="edit-input-container">
<input type="text" name="url" value="{{url}}" class="edit-url">
<textarea name="caption" id="" cols="30" rows="3" class="edit-caption">{{caption}}</textarea>
<input type="submit" value="Update" class="edit-submit">
</div>