{{#if url}}
<div class="image-container">
	<i class="fa fa-pencil-square"></i>
	<i class="fa fa-trash-o"></i>
	<img src="{{url}}" alt="" class="list-image">
</div>
<h3 class="list-caption">{{caption}}</h3>
{{/if}}